@font-face {
    font-family: Sloth-Light;
    src: url(./fonts/Sloth-Light.ttf);
}

@font-face {
    font-family: Sloth-Regular;
    src: url(./fonts/Sloth-Regular.ttf);
}

@font-face {
    font-family: Sloth-SemiBold;
    src: url(./fonts/Sloth-SemiBold.ttf);
}

@font-face {
    font-family: Sloth-Bold;
    src: url(./fonts/SLOTH\ BOLD.ttf);
}

@font-face {
    font-family: Sloth-ExtraBold;
    src: url(./fonts/Sloth\ Extrabold.ttf);
}

@font-face {
    font-family: Sloth-ExtraBold;
    src: url(./fonts/Sloth\ Extrabold.ttf);
}

@font-face {
    font-family: LubalinGraphStd-Book;
    src: url(./fonts/LubalinGraphStd-Book.otf);
}

@font-face {
    font-family: LubalinGraphStd-Demi;
    src: url(./fonts/LubalinGraphStd-Demi.otf);
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;
    overflow: hidden;
    margin-left: 60px;
    margin-right: 60px;
}

.search-button {
    display: inline-flex;
    align-items: center;
    border: 2px solid #f0f5f9;
    padding: 0.3rem 2.5rem;
    border-radius: 5rem;
    background-color: transparent;
    cursor: pointer;
}

.search-button img {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}

.search-button span {
    font-size: 1rem;
    font-family: Sloth-Regular, sans-serif;
    color: #f0f5f9;
}


.logo { 
    width: 4vw;
}

.nav-text {
    font-size: 1vw;
    font-family: Sloth-SemiBold, sans-serif;
}

#nav a {
    position: relative;
    text-decoration: none;
    color: #b9b9b9;
    margin-left: 1vw;
    font-size: 1vw;
    font-family: Sloth-SemiBold, sans-serif;
}

#nav a:after {
    content: "";
    position: absolute;
    background-color: #DB4E18;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

#nav a:hover {
    color:#f0f5f9;
}

#nav a:hover:after {
    width: 100%;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-background video {
    height: 100%;
    overflow: hidden;
}
