@font-face {
    font-family: Sloth-Light;
    src: url(./fonts/Sloth-Light.ttf);
}

@font-face {
    font-family: Sloth-Regular;
    src: url(./fonts/Sloth-Regular.ttf);
}

@font-face {
    font-family: Sloth-SemiBold;
    src: url(./fonts/Sloth-SemiBold.ttf);
}

@font-face {
    font-family: Sloth-Bold;
    src: url(./fonts/SLOTH\ BOLD.ttf);
}

@font-face {
    font-family: Sloth-ExtraBold;
    src: url(./fonts/Sloth\ Extrabold.ttf);
}

@font-face {
    font-family: Sloth-ExtraBold;
    src: url(./fonts/Sloth\ Extrabold.ttf);
}

@font-face {
    font-family: LubalinGraphStd-Book;
    src: url(./fonts/LubalinGraphStd-Book.otf);
}

@font-face {
    font-family: LubalinGraphStd-Demi;
    src: url(./fonts/LubalinGraphStd-Demi.otf);
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    cursor: none;
}

.cursor,
.cursor-text {
    position: fixed;
    left: 0;
    border-radius: 50%;
    pointer-events: none;
    transition: transform 0.1s;
}

.cursor {
    background: #f3be26;
    top: 0;
    width: 20px;
    height: 20px;
    z-index: 999;
}

.cursor-text {
    top: 50%;
    width: 150px;
    height: 150px;
    z-index: 9999;
    display: grid;
    place-content: center;
    opacity: 0;

    svg {
        width: 80px;
    }
}
.cursor-follower {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
    user-select: none;
    pointer-events: none;
    transform: translate(4px, 4px);
}

#header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99999;
    height: 100px;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1.7vw;
    overflow: hidden;
    margin-left: 60px;
    margin-right: 60px;
}

.search-button {
    display: inline-flex;
    align-items: center;
    border: 2px solid #f0f5f9;
    padding: 0.3rem 2.5rem;
    border-radius: 5rem;
    background-color: transparent;
    cursor: pointer;
}

.search-button img {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}

.search-button span {
    font-size: 1rem;
    font-family: Sloth-Regular, sans-serif;
    color: #f0f5f9;
}

.logo {
    width: 4vw;
}

.nav-text {
    font-size: 1vw;
    font-family: Sloth-SemiBold, sans-serif;
}

#nav a {
    position: relative;
    text-decoration: none;
    color: #f0f5f9;
    margin-left: 1vw;
    font-size: 1vw;
    font-family: Sloth-SemiBold, sans-serif;
}

#nav a:after {
    content: "";
    position: absolute;
    background-color: #db4e18;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

#nav a:hover {
    color: #f3be26;
    transition: 0.3s;
}

#nav a:hover:after {
    width: 100%;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-background video {
    height: 100%;
    overflow: hidden;
}

#main {
    position: relative;
}

#page1 {
    height: 110vh;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.page1-h1 {
    font-size: 4vw;
    font-family: LubalinGraphStd-Book, sans-serif;
    color: #f0f5f9;
    padding-left: 100px;
    width: 50vw;
}

.page1-button {
    background-color: white;
    border: none;
    padding: 15px 30px;
    color: black;
    cursor: pointer;
    width: 200px;
    margin: 30px 100px;
    font-family: LubalinGraphStd-Demi, sans-serif;
    font-size: larger;
}

#page2 {
    height: 80vh;
}

.page2-h1 {
    font-size: 4vw;
    color: #f0f5f9;
    font-family: Sloth-Regular, sans-serif;
    padding: 0px 100px;
}

.color-orange {
    color: #db4e18;
}

.featured {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 100px;
    flex-direction: row;
    gap: 20px;
}

.featured1 {
    display: flex;
    flex-direction: column;
    width: 33.33vw;
    gap: 20px;
}

.featured1 h1 {
    font-family: Sloth-Regular, sans-serif;
    color: #f0f5f9;
}

.featured1 p {
    font-family: Sloth-Regular, sans-serif;
    color: #f0f5f9;
}

.featured2 {
    display: flex;
    flex-direction: column;
    width: 33.33vw;
    gap: 20px;
}

.featured2 h1 {
    font-family: Sloth-Regular, sans-serif;
    color: #f0f5f9;
}

.featured2 p {
    font-family: Sloth-Regular, sans-serif;
    color: #f0f5f9;
}

.featured3 {
    display: flex;
    flex-direction: column;
    width: 33.33vw;
    gap: 20px;
}

.featured3 h1 {
    font-family: Sloth-Regular, sans-serif;
    color: #f0f5f9;
}

.featured3 p {
    font-family: Sloth-Regular, sans-serif;
    color: #f0f5f9;
}
