/* fonts install */

@font-face {
    font-family: Sloth-Light;
    src: url(./fonts/Sloth-Light.ttf);
}

@font-face {
    font-family: Sloth-Regular;
    src: url(./fonts/Sloth-Regular.ttf);
}

@font-face {
    font-family: Sloth-SemiBold;
    src: url(./fonts/Sloth-SemiBold.ttf);
}

@font-face {
    font-family: Sloth-Bold;
    src: url(./fonts/SLOTH\ BOLD.ttf);
}

@font-face {
    font-family: Sloth-ExtraBold;
    src: url(./fonts/Sloth\ Extrabold.ttf);
}

@font-face {
    font-family: Sloth-ExtraBold;
    src: url(./fonts/Sloth\ Extrabold.ttf);
}

@font-face {
    font-family: LubalinGraphStd-Book;
    src: url(./fonts/LubalinGraphStd-Book.otf);
}

@font-face {
    font-family: LubalinGraphStd-Demi;
    src: url(./fonts/LubalinGraphStd-Demi.otf);
}

/* general styles */

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    cursor: none;
}

/* cursor styles */

.cursor,
.cursor-text {
    position: fixed;
    left: 0;
    border-radius: 50%;
    pointer-events: none;
    transition: transform 0.1s;
}

.cursor {
    background: #f0f5f9;
    top: 0;
    width: 20px;
    height: 20px;
    z-index: 999;
}

.cursor-text {
    top: 50%;
    width: 150px;
    height: 150px;
    z-index: 9999;
    display: grid;
    place-content: center;
    opacity: 0;

    svg {
        width: 80px;
    }
}
.cursor-follower {
    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
    user-select: none;
    pointer-events: none;
    transform: translate(4px, 4px);
}

/* header & nav section */

#header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 99999;
    height: 100px;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1.7vw;
    overflow: hidden;
    margin-left: 60px;
    margin-right: 60px;
}

/* styling of whole input container */
.container-input {
    position: relative;
}

.input {
    width: 150px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all 0.2s ease-in-out;
    outline: none;
    opacity: 0.8;
}

.container-input svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}

.input:focus {
    opacity: 1;
    width: 250px;
}

.logo {
    width: 4vw;
}

.nav-text {
    font-size: 1vw;
    font-family: Sloth-SemiBold, sans-serif;
}

#nav a {
    position: relative;
    text-decoration: none;
    color: #f0f5f9;
    margin-left: 1vw;
    font-size: 1vw;
    font-family: Sloth-SemiBold, sans-serif;
}

#nav a:after {
    content: "";
    position: absolute;
    background-color: #db4e18;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

#nav a:hover {
    color: #f3be26;
    transition: 0.3s;
}

#nav a:hover:after {
    width: 100%;
}

/* background video */

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.video-background video {
    height: 100%;
    overflow: hidden;
}

/* main */

#main {
    position: relative;
}

/* page 1 */

#page1 {
    height: 110vh;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.page1-h1 {
    font-size: 4vw;
    font-family: LubalinGraphStd-Book, sans-serif;
    color: #f0f5f9;
    padding-left: 100px;
    width: 50vw;
}

.box {
    width: 200px;
    height: auto;
    float: left;
    transition: 0.5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px 30px;
    text-align: center;
    margin: -50px 0px;
    background: #000;
    font-weight: 900;
    color: #f0f5f9;
    font-family: LubalinGraphStd-Demi, sans-serif;
    font-size: larger;
}

.box:before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
}

.box:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
}

.box:hover {
    box-shadow: 0 5px 15px #f0f5f982;
}

.box:hover:before {
    border-color: #f0f5f9;
    height: 100%;
    transform: translateX(0);
    transition: 0.3s transform linear, 0.3s height linear 0.3s;
}

.box:hover:after {
    border-color: #f0f5f9;
    height: 100%;
    transform: translateX(0);
    transition: 0.3s transform linear, 0.3s height linear 0.5s;
}

button {
    color: #f0f5f9;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    padding: 100px;
}

/* page 2 */

#page2 {
    height: 85vh;
    display: flex;
    flex-direction: column;
}

.page2-h1 {
    font-size: 4vw;
    color: #f0f5f9;
    font-family: LubalinGraphStd-Book, sans-serif;
    padding: 0px 100px;
}

.color-orange {
    color: #db4e18;
}

section {
    width: 50vw;
}

.featured {
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-right: 100px;
    gap: 20px;
}

#featured-text {
    color: #f0f5f9;
    font-family: Sloth-SemiBold, sans-serif;
    padding: 50px 100px;
}

.preview1 {
    position: absolute;
    width: 30vw;
    height: 250px;
    overflow: hidden;
    pointer-events: none;
    transform-origin: center;
    transform: scale(0);
    z-index: 5;
}

.preview-image1 {
    width: 100%;
    height: 100%;
    background: url(https://www.pwc.in/assets/images/ui-transition/consulting/risk-consulting/the-digital-personal-data-protection-bill-india-2023.jpeg);
    background-size: cover;
    background-position: 0 0;
    pointer-events: none;
}

.preview2 {
    position: absolute;
    width: 30vw;
    height: 250px;
    overflow: hidden;
    pointer-events: none;
    transform-origin: center;
    transform: scale(0);
    z-index: 5;
}

.preview-image2 {
    width: 100%;
    height: 100%;
    background: url(https://www.pwc.in/assets/images/ui-transition/home-page/the-new-sustainability-mandate.jpg);
    background-size: cover;
    background-position: 0 0;
    pointer-events: none;
}

.preview3 {
    position: absolute;
    width: 30vw;
    height: 250px;
    overflow: hidden;
    pointer-events: none;
    transform-origin: center;
    transform: scale(0);
    z-index: 5;
}

.preview-image3 {
    width: 100%;
    height: 100%;
    background: url(https://www.pwc.in/assets/images/ui-transition/home-page/digital-store-homepage.jpg);
    background-size: cover;
    background-position: 0 0;
    pointer-events: none;
}

.featured1 {
    display: flex;
    flex-direction: column;
    width: 30vw;
    gap: 20px;
}

.featured1 h1 {
    font-family: Sloth-Regular, sans-serif;
    color: #f0f5f9;
}

.featured1 p {
    font-family: Sloth-Regular, sans-serif;
    color: #f0f5f9;
}

.featured2 {
    display: flex;
    flex-direction: column;
    width: 30vw;
    gap: 20px;
}

.featured2 h1 {
    font-family: Sloth-Regular, sans-serif;
    color: #f0f5f9;
}

.featured2 p {
    font-family: Sloth-Regular, sans-serif;
    color: #f0f5f9;
}

.featured3 {
    display: flex;
    flex-direction: column;
    width: 30vw;
    gap: 20px;
}

.featured3 h1 {
    font-family: Sloth-Regular, sans-serif;
    color: #f0f5f9;
}

.featured3 p {
    font-family: Sloth-Regular, sans-serif;
    color: #f0f5f9;
}

/* page 3 */

#page3 {
    height: 90vh;
    background-color: #000;
}

#whatsnew-text {
    color: #f0f5f9;
    font-family: Sloth-SemiBold, sans-serif;
    padding: 20px 100px;
}

#elems {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}

#elem1 {
    width: 50%;
    height: 100%;
}

#elem1 #image-div {
    height: 60%;
    width: 100%;
    overflow: hidden;
}

#image-div img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
}

#image-div:hover img {
    scale: 1.1;
}

#elem1 h4 {
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Sloth-Regular, sans-serif;
    color: #f0f5f9;
}

#elem1 p {
    font-size: 14px;
    font-family: Sloth-Regular, sans-serif;
    font-weight: 100;
    color: #f0f5f9;
}
